{% extends '../base.html' %} {% block content %}
<div class="login-page">
	<h2>Login</h2>
	{% if error %}
	<p style="background-color: salmon; padding: 10px;">{{ error }}</p>
	{% endif %}
	<form action="{% url 'login' %}" method="POST">
		{% csrf_token %}
		<div class="input-fields">
			<label for="username">Username</label>
			<input type="text" name="username" required maxlength="25" minlength="2" />
		</div>
		<div class="input-fields">
			<label for="password">Password</label>
			<input type="password" name="password" required maxlength="25" minlength="4"/>
		</div>
		<input type="submit" value="Login" />
	</form>
</div>
{% endblock %}