{% extends '../base.html' %} {% block content %}
<main>
  <div class="profile-container">
    <img src="" alt="" class="profile-img" />
    <div class="user-info">
      <div class="username">
        <h1>Username: {{ profile.user.username }}</h1>
      </div>
      <div class="user-else">
        <p>Email: {{ profile.user.email }}</p>
        <p>Joined on: {{ profile.user.date_joined }}</p>
        <p>Last Logged in at: {{ profile.user.last_login }}</p>
      </div>
    </div>
  </div>
  <div class="profile_body">
    {% for question in questions %}
    <a href="{% url 'question_show' pk=question.question.pk %}" class="dim">
      <ul>
        <li>{{question.question.title}}</li>
        <li>{{question.answer.content}}</li>
      </ul>
    </a>
    {% endfor %}
  </div>
</main>
{% endblock %}
