{% extends '../base.html' %} {% block content %}
<main>
  <div>
    <!-- <img src="{{ profile.picture }}" alt="" class="artist-photo" /> -->
    <h1>Username: {{ profile.user.username }}</h1>
    <p>Email: {{ profile.user.email }}</p>
    <p>Joined on: {{ profile.user.date_joined }}</p>
    <p>Last Logged in at: {{ profile.user.last_login }}</p>
  </div>
  <div class="profile_body">

    <ul>
      <li>Question</li>
      <li>Answer</li>
    </ul>
    <ul>
      <li>Question</li>
      <li>Answer</li>
    </ul>
    <ul>
      <li>Question</li>
      <li>Answer</li>
    </ul>
  </div>
</main>
{% endblock %}
