{% extends '../base.html' %} {% block content %}
<main>
  <div>
    <!-- <img src="{{ profile.picture }}" alt="" class="artist-photo" /> -->
    <h1>Username: {{ user.username }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>Joined on: {{ user.date_joined }}</p>
    <p>Last Logged in at: {{ user.last_login }}</p>
  </div>
  <div class="profile_body">
    <li>{% tags.id pk=1 %}</li>
    <li>{% tags.objects.all() %}</li>
    <ul>
      <li>Question</li>
      <li>Answer</li>
    </ul>
    <ul>
      <li>Question</li>
      <li>Answer</li>
    </ul>
    <ul>
      <li>Question</li>
      <li>Answer</li>
    </ul>
  </div>
</main>
{% endblock %}
