{% extends '../base.html' %} {% block content %}
<h2>Register</h2>
{% if error %}
<p style="background-color: salmon; padding: 10px;">{{ error }}</p>
{% endif %}
<article class="pa4 black-80">
		<form action="{% url 'register' %}" method="POST">
	  {% csrf_token %}
			<fieldset id="sign_up" class="ba b--transparent ph0 mh0">
				<legend class="ph0 mh0 fw6 clip">Register</legend>
				<div class="mt3">
						<label class="db fw4 lh-copy f6" for="username">Username</label>
						<input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="username">
				<div class="mt3">
					<label class="db fw4 lh-copy f6" for="email">Email</label>
					<input class="pa2 input-reset ba bg-transparent w-100 measure" type="email" name="email">
				</div>
				<div class="mt3">
					<label class="db fw4 lh-copy f6" for="password">Password</label>
					<input class="b pa2 input-reset ba bg-transparent" type="password" name="password"  id="password">
				</div>
				<div class="mt3">
						<label class="db fw4 lh-copy f6" for="password">Confirm Password</label>
						<input class="b pa2 input-reset ba bg-transparent" type="password" name="password2" >
					</div>
			</fieldset>
			<div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Register"></div>
		</form>
	</article>
{% endblock %}