{% extends '../base.html' %}

{% block content %}
<main>
  {% if deck_idx %} 
    <h1>{{ tag.content }} </h1> 
  {%comment%}<!-- {% else %}<h1>Question Card</h1> -->{% endcomment %}
  {% endif %}

  <h4 class="question" id={{question.id}}></h4>
  <div>
    <article class="center mw5 mw6-ns hidden ba mv4">
      <h1 class="f4 bg-near-black white mv0 pv2 ph3">
        {{ question.title }}        
      </h1>
      <div class="pa3 bt">
        {% if question.content %}
        <p class="f6 lh-copy mt2 mid-gray">
          <pre>
            <code class="language-javascript">
              {{ question.content }}
            </code>
          </pre>
        </p>
        {% endif %}
        <div class="tr">
          {% for tag in card_tags %}
          <a style="text-decoration:none;"
            href="{% url 'deck_create' tag=tag.content %}"
          >
            <button
              class="mini-tag"
              style="background-color:{{ tag.color_code }};"
            >
              {{ tag.content }}
            </button>
          </a>
          {% endfor %}
        </div>
      </div>
    </article>
  </div>
  <div class="pain-chart" id={{pain.level}}>
      <a class="pain-btn" id="pain1" >🤓</a>
      <a class="pain-btn" id="pain2" >😐</a>
      <a class="pain-btn" id="pain3" >🤨</a>
      <a class="pain-btn" id="pain4" >🤕</a>
      <a class="pain-btn" id="pain5" >☠️</a>
      <h4 class="feeling">(How does this problem make you feel?)</h4>
  </div>

  {% if deck_idx %}
    <div class="deck-wrapper">
      <div class="previous">
        {% if deck_idx != 1 %}
          <a class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-mid-gray" 
            href="{% url 'deck_show' tag=tag idx=deck_idx|add:'-1' %}">
            Previous Question
          </a>
        {% else %}
          <a class="f6 br-pill ph3 pv2 mb2 dib bg-mid-gray" 
            style="cursor: not-allowed">
            Previous
          </a>
        {% endif %} 
      </div>
      <div class="next">
        {% if last_card %}  
          <a class="deck-end f6 link dim br-pill ph3 pv2 mb2 dib white bg-mid-gray" 
            style="cursor: pointer" id={{tag.content}} 
          >
            Complete Deck
          </a>
        {% else %}
          <a class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-mid-gray" 
            href="{% url 'deck_show' tag=tag idx=deck_idx|add:'+1' %}">
            Next Question
          </a>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <article class="center mw5 mw6-ns hidden ba mv4">
      <!-- <h1 class="f4 bg-near-black white mv0 pv2 ph3">Answer Box</h1> -->
      <div class="pa3 bt">
        <label for="answercontent" class="f6 b db mb2">
          Answer 
          <span class="normal black-60 tr">
              <span style="color: white">(Explain if needed)</span>
              <label for="private" class="hiders f6 black-60 db mb2">
                  make your answer private?
                  <input type="checkbox" class="answerform hiders" name="private" id="private">
              </label>
          </span>
        </label>
        <input
          id="answercontent"
          name="answercontent"
          class="answerform input-reset ba b--black-20 pa2 mb2 db w-100"
          type="text"
          aria-describedby="answer content"
        />
      
        <div class="tr">
          <a id="community-chest" 
          class="f6 link dim br3 ph3 pv2 mb2 dib white bg-gold"
          href="{% url 'card_community' pk=question.id %}">
          {% if community %}
          Community
          {% else %}
          <span class="crossed-out">Community</span>
          {% endif %}
          </a>
          <a id="showAnswer" 
          class="answer-toggler f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-green"
          >
          
          {% if current_answer %}
          Show Selected Answer
          {% else %}
          <span class="crossed-out">Show Selected Answer</span>
          {% endif %}
          </a>
          
          <a id="sendAnswer"
          class="hiders f6 link dim br3 ph3 pv2 mb2 dib white bg-mid-gray"
          >
          Save New Answer
          </a>

          <!-- <div class="answer-methods"></div> -->
          <!-- <small class=" f6 black-60 db mb2">
              Save this answer as your answer?
          </small> -->
        </div>
        <div class="answer-box" id="current-answer">
            <h4>{{ current_answer.content }}</h4>
        </div>
      </div>
    </article>

  {% block community %}
  {% endblock %}
</main>

{% endblock %}