{% extends '../base.html' %}

{% block content %}
{% if deck_idx %}
  <h1>Deck Card {{ deck_idx }} </h1> 
{% else %}
  <h1>Question Card</h1>
{% endif %}

<h4 class="question" id={{question.id}}></h4>
<div>
  <article
  class="br2 ba dark-gray b--black-10 mv4 w-100 w-50-m w-25-l mw5 center"
  >
  <img
  src="http://placekitten.com/g/600/300"
  class="db w-100 br2 br--top"
  alt="Photo of a kitten looking menacing."
  />
  <div class="pa2 ph3-ns pb3-ns">
    <div class="dt w-100 mt1">
      <div class="dtc">
        <h1 class="f5 f4-ns mv0">Question</h1>
      </div>
      <div class="dtc tr">
          {% for tag in card_tags %}
          <a
            style="text-decoration:none;"
            href="{% url 'deck_create' tag=tag.content %}"
          >
            <button
              class="mini-tag"
              style="background-color:{{ tag.color_code }};"
            >
              {{ tag.content }}
            </button>
          </a>
          {% endfor %}
        </div>
      </div>
      <p class="f6 lh-copy measure mt2 mid-gray">
        {{ question.title }}
        {{ pain.level }}
      </p>
    </div>
  </article>
</div>

{% if deck_idx %}
  <div class="deck-wrapper">
    <div class="previous">
      {% if deck_idx > 1 %}
        <a href="{% url 'deck_show' tag=tag idx=deck_idx|add:'-1' %}">Previous</a>
      {% else %}
        <p style='color:grey'>Previous</p>      
      {% endif %} 
    </div>
    <div class="next">
      {% if deck_idx == 'last' %}  
        <a onclick="alert('congratulations, you have completed the deck'); window.location.href='{% url 'profile' %}'">Complete Deck</a>
      {% else %}
        <a href="{% url 'deck_show' tag=tag idx=deck_idx|add:'+1' %}">Next</a>
      {% endif %}
    </div>
  </div>
  <form class="answerform">
    <div class="measure">
      <label for="answercontent" class="f6 b db mb2"
        >Answer <span class="normal black-60">(optional)</span></label
      >
      <input
        id="answercontent"
        name="answercontent"
        class="input-reset ba b--black-20 pa2 mb2 db w-100"
        type="text"
        aria-describedby="answer content"
      />
      <label for="private" class="f6 black-60 db mb2">make you answer private?</label>
      <input type="checkbox" name="private" id="private">
      <!-- <small id="name-desc" class="f6 black-60 db mb2"
        >Write the answer in code form with explanations.</small
      > -->
    </div>
  </form>
  <button class="answering" onclick="answerMe">answerd toady</button>
{% endif %}

<div class="pain-chart" id={{pain.level}}>
	<button class="pain-btn" id="pain1" value="1">pain1</button>
	<button class="pain-btn" id="pain2" value="2">pain2</button>
	<button class="pain-btn" id="pain3" value="3">pain3</button>
	<button class="pain-btn" id="pain4" value="4">pain4</button>
	<button class="pain-btn" id="pain5" value="5">pain5</button>
</div>

{% comment %}
<form method="POST" class="answer-form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="">Submit Answer</button>
</form>
<button class="answer-toggler" onclick="showAnswer()">Show Answer</button>
<div class="previous-answers" id="myDIV">
  <h3>Galaxy is on orions belt</h3>
</div>
{% endcomment %}
  {% block community %}
  {% endblock %}

{% endblock %}