{% extends './card.html' %}

{% block community %}

<h1>Community Answers</h1>
{% comment %} <p>{{ question.id }}</p> {% endcomment %}

<div class="answers-holder">
  {% for answer in answers %}
    <div class="answer-item" data-answer-pk="{{ answer.id }}">
      <div class="vote-content">
        {% if answer.user_vote == 1 %}
          <i class="vote fas fa-arrow-alt-circle-up"></i>
        {% else %}
          <i class="vote far fa-arrow-alt-circle-up"></i>
        {% endif %}
        <h1 class="vote-count" data-vote="{{ answer.total_vote }}">{{ answer.total_vote }}</h1>
        {% if answer.user_vote == -1 %}
          <i class="vote fas fa-arrow-alt-circle-down"></i>
        {% else %}
          <i class="vote far fa-arrow-alt-circle-down"></i>
        {% endif %}
      </div>
      <div class="answer-content">
        <h2>{{ answer.content }}</h2>
        <span>{{ answer.author.user.username }} | {{ answer.time_stamp }}</span>

      </div>
      {% comment %} <i class="fas fa-arrow-alt-circle-up"></i> {% endcomment %}
      {% comment %} <i class="fas fa-arrow-alt-circle-down"></i>  {% endcomment %}
    </div>
  {% endfor %}
</div>
{% endblock %}