* {
  /* border: 1px solid blue; */
  font-family: 'Roboto Mono', monospace;
  padding: 0;
}


/* Base.html */
.body {
  background-color: white;
  margin: 2.5vh 5vw;
}

.base-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-block{
  display: flex;
}

.fa-asterisk{
  margin: auto 0;
}

/* nav {
  margin: auto 0;
}

nav > a {
  margin: 0 1vw;
} */

/* landing.html */
.landing-header{
  text-align: center;
  font-size: 15vh;
  margin: 0 0 2vh 0;
}

.top-tags-container{
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
}

.top-tags{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-tags > li{
  list-style: none;
  text-align: center;
  height: 30vh;
  width: 30vh;
  border: 1px solid red;
  background-color: white;
}

.all-tags{
  display: flex;
  flex-direction: row;
}

.all-tags > li{
  list-style: none;
  text-align: center;
}

/* login.html */
.login-page{
  display: flex;
  flex-direction: column;
}

/* profile.html */
.profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info{
  display: flex;
  flex-direction: row;
}

.username{
  display: flex;
  margin: auto 2vw;
}

.user-else{
  display: flex;
  flex-direction: column;
  margin: auto 2vw;
}

.profile-img{
  width: 100%;
  height: auto;
  overflow: hidden;
}

.profile-container > p {
  margin: 1vh;
}

.profile_body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile_body > ul > li:nth-child(1){
  z-index: 0;
  list-style: none;
  width: 80vw;
  height: 10vh;
  margin: 1vh auto;
  background-color: #d1d1d1;
  border: 2px solid black;
}

.profile_body > ul > li:nth-child(2){
  z-index: 2;
  list-style: none;
  width: 80vw;
  height: 10vh;
  margin: 1vh auto;
  border: 2px solid black;
  background-color: white;
}

/* register.html */

.input-fields{
  display: flex;
  flex: column;
  justify-content: space-between;
  width: 30vw;
}

.input-fields > label {
  
}

.deck-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-right: 50px;
}

.mini-tag {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .75em;
  margin: 4px 2px;
  border-radius: 10px;

}

.pain-chart {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.feeling {
  color: gray;
  font-size: 10px;
}

.answerform {
  text-align: center;
}

.input-reset {
  display: inline-block;
}

.measure {
  border: 1px solid;
  max-width: none; 
}
.pain-btn {
  cursor: pointer;
}

.hiders, #current-answer {
  display: none;
}

