* {
  padding: 0;
  margin: 0;
}

body {
  background-color: aqua;
}

.deck-wrapper {
    display: flex;
    justify-content: space-evenly;

}

.mini-tag {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .75em;
  margin: 4px 2px;
  border-radius: 10px;
}

footer {
  margin-top: 40px;
}

/** deck card CSS **/
.answerform {
    bordercolor: solid black 2px;
}

.ba {
    border-style: solid;
    border-width: 1px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.br2 {
    border-radius: .25rem;
}

.br--top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.db {
    display: block;
}

.dt {
    display: table;
}

.dtc {
    display: table-cell;
}

.lh-copy {
    line-height: 1.5;
}

.mw5 {
    max-width: 16rem;
}

.w-100 {
    width: 100%;
}

.dark-gray {
    color: #333;
}

.mid-gray {
    color: #555;
}

.pa2 {
    padding: .5rem;
}

.mt1 {
    margin-top: .25rem;
}

.mt2 {
    margin-top: .5rem;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mv4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tr {
    text-align: right;
}

.f5 {
    font-size: 1rem;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 30em) {
    .pb3-ns {
        padding-bottom: 1rem;
    }

    .ph3-ns {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .f4-ns {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .w-50-m {
        width: 50%;
    }
}

@media screen and (min-width: 60em) {
    .w-25-l {
        width: 25%;
    }
}