{% load staticfiles %}
<html>
	<head>
		<title>Fl*shr</title>
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	</head>
	<body>
		<form class="csrf">{% csrf_token %}</form>
		<nav class="db dt-l w-100 border-box pa3 ph5-l">
			<div class="logo-block">
				<a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="/" title="Home">
					<i class="fas fa-asterisk fa-2x">FL*SHER</i>
				</a>
			</div>
			<div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
				{% if user.is_authenticated %}
				<a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="{% url 'profile' %}">
					Profile
				</a>
				<a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="{% url 'logout' %}">
					Logout
				</a>
				{% else %}
				<a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="{% url 'login' %}">
					Login
				</a>
				<a class="link dim dark-gray f6 f5-l dib" href="{% url 'register' %}">
					Register
				</a>
				{% endif %}
			</div>
		</nav>
		{% block content %}
		{% endblock %}
		<script src="https://code.jquery.com/jquery-3.4.1.js"
			integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			crossorigin="anonymous"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>